/* line 1, E:/workspace/HTMLs/manu/scss/_custom.scss */
body {
  font-family: 'Poppins', sans-serif;
}

/* line 5, E:/workspace/HTMLs/manu/scss/_custom.scss */
.color-main {
  color: #EF9E48;
}

/* line 8, E:/workspace/HTMLs/manu/scss/_custom.scss */
.color-yellow-dark {
  color: #a56f39;
}

/* line 11, E:/workspace/HTMLs/manu/scss/_custom.scss */
.back-gray-light {
  background-color: rgba(241, 240, 245, 0.55);
}

/* line 14, E:/workspace/HTMLs/manu/scss/_custom.scss */
.mt-40 {
  margin-top: 40px;
}

/* line 17, E:/workspace/HTMLs/manu/scss/_custom.scss */
.mb-40 {
  margin-bottom: 40px;
}

/* line 20, E:/workspace/HTMLs/manu/scss/_custom.scss */
.font-slim {
  font-weight: 300;
}

/* line 23, E:/workspace/HTMLs/manu/scss/_custom.scss */
.padding-custom {
  padding: 75px 0;
}

/* line 26, E:/workspace/HTMLs/manu/scss/_custom.scss */
.icon-custom {
  padding: 10px 15px;
  background-color: #f9c271;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 15px;
}

/* line 33, E:/workspace/HTMLs/manu/scss/_custom.scss */
.border-flag {
  border: #FCF2E8 4px solid;
  border-radius: 100%;
}

/* line 38, E:/workspace/HTMLs/manu/scss/_custom.scss */
.back-yellow-light {
  background-color: #FCF2E8;
  border-radius: 10px;
}

/* line 42, E:/workspace/HTMLs/manu/scss/_custom.scss */
.back-yellow-light-100 {
  background-color: #FBCE82;
  border-radius: 10px;
}

/* line 46, E:/workspace/HTMLs/manu/scss/_custom.scss */
.bg-icon {
  background: #FBCE82;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
}

/* line 52, E:/workspace/HTMLs/manu/scss/_custom.scss */
.bg-icon-5 {
  background: #FBCE82;
  border-radius: 15px;
  padding: 5px;
}

/* bt5 */
/* line 60, E:/workspace/HTMLs/manu/scss/_custom.scss */
.btn {
  border-radius: 10px;
  padding: 0.6rem 2rem;
}

/* line 64, E:/workspace/HTMLs/manu/scss/_custom.scss */
.btn-light {
  transition: all .3s;
}

/* line 66, E:/workspace/HTMLs/manu/scss/_custom.scss */
.btn-light:hover {
  border-color: #EF9E48;
  background-color: #EF9E48;
  color: #fff;
}

/* line 72, E:/workspace/HTMLs/manu/scss/_custom.scss */
.mr-2 {
  margin-right: 0.5rem;
}

/* line 75, E:/workspace/HTMLs/manu/scss/_custom.scss */
.accordion-button {
  background-color: #fff;
}

/* line 78, E:/workspace/HTMLs/manu/scss/_custom.scss */
.accordion-item {
  margin-bottom: 15px;
  border: none;
}

/* line 83, E:/workspace/HTMLs/manu/scss/_custom.scss */
.accordion-button:not(.collapsed) {
  color: #EF9E48;
  background-color: #FCF2E8;
}

/* line 89, E:/workspace/HTMLs/manu/scss/_custom.scss */
:root {
  --swiper-theme-color: #EF9E48;
}

/* line 92, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-container {
  padding-top: 40px;
}

/* line 95, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10%;
}

/* line 98, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-pagination-bullet-active {
  width: 17px;
}

/* line 101, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-pagination-clickable {
  z-index: -1;
}

/* line 104, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-pagination {
  position: absolute;
  text-align: end;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* line 111, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  z-index: -2;
}

/* line 115, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  bottom: 10%;
  right: auto;
  left: 40px;
}

/* line 121, E:/workspace/HTMLs/manu/scss/_custom.scss */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  bottom: 10%;
}

/* line 124, E:/workspace/HTMLs/manu/scss/_custom.scss */
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: none;
  isolation: isolate;
  border-bottom: #EF9E48 2px solid;
  transition: .3s;
}

/* line 130, E:/workspace/HTMLs/manu/scss/_custom.scss */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #a56f39;
  background-color: #FBCE82;
  border-color: #dee2e6;
}

/* line 135, E:/workspace/HTMLs/manu/scss/_custom.scss */
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #a56f39;
  border-color: none;
  isolation: isolate;
  border-bottom: #EF9E48 2px solid;
  transition: .3s;
}

/* line 142, E:/workspace/HTMLs/manu/scss/_custom.scss */
.nav-tabs .nav-link {
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background-color: rgba(241, 240, 245, 0.55);
  border-radius: 12px;
  -webkit-box-shadow: 0px 10px 30px #eaeef6;
  box-shadow: 0px 10px 30px #eaeef6;
  opacity: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all .3s;
  padding: 11px;
  margin-right: 12px;
}

/* line 162, E:/workspace/HTMLs/manu/scss/_custom.scss */
.nav-tabs {
  border-bottom: none;
}

/* line 165, E:/workspace/HTMLs/manu/scss/_custom.scss */
.nav-link {
  color: #02073E;
}

/* line 2, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.square {
  position: absolute;
  max-width: 70%;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: linear-gradient(106.43deg, #FFDC6B -1.4%, #FFF4CB 100.87%);
  border-radius: 0 0 55px 0;
  z-index: -1;
}

/* line 14, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-hero {
  padding: 100px 0px 0px 0px;
}

/* line 16, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-hero h1 {
  width: 100%;
  max-width: 501px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 55px;
  line-height: 100%;
  margin: 0;
}

/* line 24, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-hero h1 span {
  font-weight: 700;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
  font-size: 1.2em;
  color: transparent;
}

/* line 32, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-hero p {
  width: 100%;
  max-width: 501px;
}

/* line 36, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-hero h2 {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* line 42, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-hero h2 span {
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 1.5em;
  color: transparent;
}

/* line 50, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-hero i {
  padding: 10px 15px;
  background-color: #f9c271;
  border-radius: 10px;
  margin-right: 15px;
}

/* line 59, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.text-outline {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #02073E;
  font-size: 3.5rem;
  color: transparent;
  opacity: 0.1;
  line-height: 60px;
  margin-top: -66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 79, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.img-chat {
  position: absolute;
  height: 200px;
  position: absolute;
  height: 200px;
  left: 37%;
  top: 10%;
}

/* line 89, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-about {
  padding: 100px 0;
}

/* line 91, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-about h5 {
  color: #EF9E48;
}

/* line 94, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-about h4 {
  margin-bottom: 60px;
}

/* line 97, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-about img {
  width: 70px;
  margin-top: -50px;
}

/* line 101, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-about a {
  text-decoration: none;
}

/* line 105, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.card {
  height: 225px;
  background: rgba(241, 240, 245, 0.55);
  border: 1px solid #EDEEF0;
  box-sizing: border-box;
  border-radius: 25px;
  transition: all .3s;
}

/* line 113, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.card:hover {
  background-color: #FBCE82;
  color: #fff;
  transform: scale(1.08);
}

/* line 124, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-who-am-i {
  background: linear-gradient(106.43deg, #FFDC6B -1.4%, #FFF4CB 100.87%);
  border-radius: 20px;
  z-index: -1;
  padding: 70px 0;
}

/* line 129, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-who-am-i p {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  line-height: 32px;
}

/* line 139, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-values {
  padding: 100px 0;
}

/* line 141, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-values i {
  color: #EF9E48;
  font-weight: 700;
}

/* line 145, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-values a {
  text-decoration: none;
  color: #02073E;
}

/* line 149, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-values .icon-custom {
  background-color: #FCF2E8;
}

/* line 153, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-values p {
  margin-bottom: 0;
}

/* line 156, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-values p span strong {
  color: #5080FB;
  font-size: 26px;
}

/* line 162, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-values img {
  margin-top: 5px;
}

/* line 166, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.card-price {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #EDEEF0;
}

/* line 172, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
.s-faq {
  padding: 100px 0;
  background-color: rgba(241, 240, 245, 0.55);
}

/* Footer */
/* line 179, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
footer {
  background-color: #02073E;
  padding: 3.9rem 0 2rem 0;
}

/* line 182, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
footer p {
  max-width: 450px;
}

/* line 185, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
footer ul {
  padding: 0;
}

/* line 187, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
footer ul li {
  list-style-type: none;
}

/* line 191, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
footer a {
  color: rgba(241, 240, 245, 0.55);
  text-decoration: none;
  transition: all .3s;
}

/* line 195, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
footer a:hover {
  color: #EF9E48;
}

/* line 199, E:/workspace/HTMLs/manu/scss/_s-hero.scss */
footer main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2.2rem;
}

/* line 1, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol {
  padding: 70px 0;
}

/* line 3, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol a {
  text-decoration: none;
  color: #02073E;
}

/* line 8, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol b {
  color: #EF9E48;
}

/* line 11, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol i {
  color: #a56f39;
  font-size: 25px;
}

/* line 15, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol .square {
  position: absolute;
  max-width: 50%;
  width: 100%;
  height: 96vh;
  left: 0px;
  top: 0px;
}

/* line 23, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol h1 {
  color: #EF9E48;
  font-size: 4rem;
}

/* line 26, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol h1 span {
  font-weight: 700;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #EF9E48;
  font-size: 1.2em;
  color: transparent;
  line-height: 60px;
}

/* line 35, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol h6 {
  color: #EF9E48;
  font-size: 4.5rem;
}

/* line 38, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol h6 span {
  font-weight: 700;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #02073E;
  font-size: 1.1em;
  color: transparent;
  opacity: 0.1;
  line-height: 60px;
  margin-top: -88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 53, E:/workspace/HTMLs/manu/scss/_espanhol.scss */
.s-espanhol h3 span, .s-espanhol h2 span {
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  font-size: 1.2em;
  color: #EF9E48;
  line-height: 60px;
  margin: 0;
}

/* line 1, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 7, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.navbar-dark .navbar-nav .nav-link {
  color: #02073E;
}

/* line 15, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.navbar-dark .navbar-nav .nav-link:focus {
  color: #EF9E48;
}

/* line 23, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #EF9E48;
}

/* line 31, E:/workspace/HTMLs/manu/scss/_navbar.scss */
nav ul {
  list-style: none;
  text-align: center;
}

/* line 40, E:/workspace/HTMLs/manu/scss/_navbar.scss */
nav ul li {
  display: inline-block;
}

/* line 50, E:/workspace/HTMLs/manu/scss/_navbar.scss */
nav ul li a {
  transition: all .5s;
}

/* line 59, E:/workspace/HTMLs/manu/scss/_navbar.scss */
nav ul li a:hover {
  color: #555;
}

/* line 68, E:/workspace/HTMLs/manu/scss/_navbar.scss */
nav ul li a:after {
  transition: all .5s;
}

/* line 77, E:/workspace/HTMLs/manu/scss/_navbar.scss */
nav ul li a:before {
  transition: all .5s;
}

/* line 86, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.btn-invite {
  background-color: #FCF2E8;
  color: #EF9E48;
  border-radius: 10px;
}

/* line 90, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.btn-invite a {
  color: #EF9E48;
  font-weight: 500;
}

/* line 93, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.btn-invite a:hover {
  color: #02073E;
}

/* line 101, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  outline: none;
}

/* line 109, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.hamburguer {
  margin-bottom: 5px;
  width: 30px;
  height: 2px;
  background: #EF9E48;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

/* line 119, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.hamburguer:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #EF9E48;
  box-shadow: 0 2px 5px 0, 0, 0, 0.2;
  transition: .5s;
  left: 0;
}

/* line 130, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.hamburguer {
  margin-bottom: 5px;
  width: 30px;
  height: 2px;
  background: #EF9E48;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

/* line 140, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.hamburguer:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #EF9E48;
  box-shadow: 0 2px 5px 0, 0, 0, 0.2;
  transition: .5s;
  left: 0;
}

/* line 154, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.hamburguer:before {
  top: -8px;
}

/* line 160, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.hamburguer:after {
  top: 8px;
}

/* line 166, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.icon {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 47px;
  height: 34px;
  border: none;
  cursor: pointer;
}

/* line 176, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.icon.active .hamburguer {
  background: rgba(0, 0, 0, 0);
}

/* line 183, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.icon.active .hamburguer:before {
  top: 0;
  transform: rotate(45deg);
}

/* line 193, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.icon.active .hamburguer:after {
  top: 0;
  transform: rotate(135deg);
}

/* line 201, E:/workspace/HTMLs/manu/scss/_navbar.scss */
header {
  background-color: transparent;
  z-index: 2;
  position: fixed;
  top: 0;
  transition: all .5s;
}

/* line 208, E:/workspace/HTMLs/manu/scss/_navbar.scss */
.sticky {
  background-color: rgba(255, 255, 255, 0.63) !important;
  backdrop-filter: blur(20px);
  transition: all 1s;
}

@media (max-width: 1200px) {
  /* line 2, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .img-chat {
    top: 3%;
    left: 28%;
  }
}

@media (max-width: 991px) {
  /* line 9, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .img-chat {
    display: none;
  }
  /* line 12, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .carousel-indicators {
    bottom: -55px;
  }
  /* line 15, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .carousel-control-next, .carousel-control-prev {
    bottom: -45px;
  }
  /* line 18, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .square {
    height: 620px;
  }
}

@media (max-width: 700px) {
  /* line 25, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .img-chat {
    display: none;
  }
  /* line 30, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-hero h1 {
    font-size: 45px;
    text-align: center;
  }
  /* line 35, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-hero p {
    margin-top: 20px;
  }
  /* line 39, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .center-mobile {
    text-align: center;
  }
  /* line 42, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .carousel-indicators {
    bottom: -7px;
  }
  /* line 45, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .carousel-control-next, .carousel-control-prev {
    bottom: 10px;
  }
  /* line 48, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .default-header {
    background-color: rgba(255, 255, 255, 0.63) !important;
    backdrop-filter: blur(20px);
    transition: all 1s;
  }
  /* line 55, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-espanhol h1 {
    color: #EF9E48;
    font-size: 3rem !important;
  }
  /* line 61, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .card {
    margin-bottom: 40px;
  }
  /* line 65, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 0 !important;
  }
  /* line 68, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    top: 15px;
    right: auto;
    left: 40px;
  }
  /* line 73, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    top: 15px;
  }
}

@media (max-width: 480px) {
  /* line 81, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* line 85, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .square {
    max-width: 90%;
  }
  /* line 88, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .border-flag {
    margin-top: 20px;
  }
  /* line 91, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-hero h1 span {
    font-size: 1em;
    color: transparent;
  }
  /* line 96, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-espanhol .square {
    max-width: 90%;
  }
  /* line 102, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .nav-tabs .nav-link {
    margin-right: 5px;
  }
  /* line 108, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-espanhol h6 {
    color: #EF9E48;
    font-size: 3.5rem;
  }
  /* line 111, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-espanhol h6 span {
    margin-top: -112px;
  }
  /* line 116, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .card {
    margin-bottom: 30px;
  }
  /* line 120, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .padding-custom {
    padding: 0;
  }
  /* line 123, E:/workspace/HTMLs/manu/scss/_responsive.scss */
  .s-values {
    padding: 100px 0 20px 0;
  }
}

/*# sourceMappingURL=main.css.map */