body{
    font-family: 'Poppins', sans-serif;
}

.color-main{
    color: $main-color;
}
.color-yellow-dark{
    color: $color-yellow-dark;
}
.mt-40{
    margin-top: 40px;
}

// carousel bt5
.carousel-control-next, .carousel-control-prev {
    bottom: 20px;
    align-items: flex-end;
    justify-content: end;
    width: 15%;
    padding: 0;
}

.carousel-control-next {
    left: 40px;
}

/* bt5 */

.btn {
    border-radius: 10px;
    padding: 0.6rem 2rem;
}

.mr-2 {
    margin-right: 0.5rem;
}


.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: none;
    isolation: isolate;
    border-bottom: $main-color 2px solid;
    transition: .3s;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $color-yellow-dark;
    background-color: $color-yellow-light-100;
    border-color: #dee2e6;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color:  $color-yellow-dark;
    border-color:none;
    isolation: isolate;
    border-bottom: $main-color 2px solid;
    transition: .3s;
}
.nav-tabs .nav-link {
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: $gray-light;
    border-radius: 12px;
    -webkit-box-shadow: 0px 10px 30px #eaeef6;
    box-shadow: 0px 10px 30px #eaeef6;
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all .3s;
    padding:11px;
    margin-right: 12px;
}

.nav-tabs {
    border-bottom: none;
}
.nav-link {
    color: $color-dark;
}

