body{
    font-family: 'Poppins', sans-serif;
}

.color-main{
    color: $main-color;
}
.color-yellow-dark{
    color: $color-yellow-dark;
}
.back-gray-light{
    background-color: $gray-light;
}
.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.font-slim{
    font-weight: 300;
}
.padding-custom{
    padding: 75px 0;
}
.icon-custom{
    padding: 10px 15px;
    background-color: $color-yellow;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
}
.border-flag{
    border: $color-yellow-light 4px solid;
    border-radius: 100%;
}

.back-yellow-light{
    background-color: $color-yellow-light;
    border-radius: 10px;
}
.back-yellow-light-100{
    background-color: $color-yellow-light-100;
    border-radius: 10px;
}
.bg-icon{
    background: $color-yellow-light-100;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
}
.bg-icon-5{
    background: $color-yellow-light-100;
    border-radius: 15px;
    padding: 5px;
}

/* bt5 */

.btn {
    border-radius: 10px;
    padding: 0.6rem 2rem;
}
.btn-light {
    transition: all .5s;
    &:hover{
        border-color:$main-color ;
        background-color: $main-color;
        color: $white;
    
    }
}
.mr-2 {
    margin-right: 0.5rem;
}
.accordion-button{
    background-color: $white;
}
.accordion-item {
    margin-bottom: 15px;
    border: none; 
}

.accordion-button:not(.collapsed) {
    color: $main-color;
    background-color: $color-yellow-light;
}

// swiper
:root {
    --swiper-theme-color: #EF9E48;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10%;
}
.swiper-pagination-bullet-active {
    width: 17px;
}
.swiper-pagination-clickable{
    z-index: -1;
}
.swiper-pagination {
    position: absolute;
    text-align: end;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
z-index: -2;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    bottom: 10%;
    right: auto;
    left: 40px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    bottom: 10%;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: none;
    isolation: isolate;
    border-bottom: $main-color 2px solid;
    transition: .3s;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $color-yellow-dark;
    background-color: $color-yellow-light-100;
    border-color: #dee2e6;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color:  $color-yellow-dark;
    border-color:none;
    isolation: isolate;
    border-bottom: $main-color 2px solid;
    transition: .3s;
}
.nav-tabs .nav-link {
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: $gray-light;
    border-radius: 12px;
    -webkit-box-shadow: 0px 10px 30px #eaeef6;
    box-shadow: 0px 10px 30px #eaeef6;
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all .3s;
    padding:11px;
    margin-right: 12px;
}

.nav-tabs {
    border-bottom: none;
}
.nav-link {
    color: $color-dark;
}
