.s-espanhol{
    padding: 70px 0;
    a{
        text-decoration: none;
        color: $color-dark;
    }
    b{
        color: $main-color;
    }
    i{
        font-size: 25px;
        transition: all .5s;
        &:hover{
           background-color: $main-color;
           color: $white;
        }
    }
    h1{
        color: $main-color;
        font-size: 3rem;
        span{
            font-weight: 700;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $main-color;
            // font-size: 1.2em;
            color: transparent;
            line-height:60px;
        }
    }
    h6{
        color: $main-color;
        font-size: 4.5rem;
        span{
            font-weight: 700;
            -webkit-text-stroke-width: 1.2px;
            -webkit-text-stroke-color: $color-dark;
            font-size: 1.1em;
            color: transparent;
            opacity: 0.1;
            line-height: 60px;
            margin-top: -88px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    h3,h2{
        span{
            font-weight: 700;
            font-size: 1.2em;
            color: $main-color;
            line-height:60px;
            margin: 0;
        }
    }
    .square {
        position: absolute;
        max-width: 70%;
        background: linear-gradient(
            90deg
            , #FFDC6B 0%, #fdfdfd 100%);
        width: 100%;
        height: 100vh;
        left: 0px;
        top: 0px;
    }
    .card-price{
        width: 50%;
        margin: 0 auto;
    }
}

