.s-espanhol{
    padding: 70px 0;
    a{
        text-decoration: none;
        color: $color-dark;
    }
    b{
        color: $main-color;
    }
    i{
        color: $color-yellow-dark;
        font-size: 25px;
        transition: all .5s;
        &:hover{
            transform: scale(5);
           background-color: $color-yellow-light-100;
        }
    }
    .square {
        position: absolute;
        max-width: 50%;
        width: 100%;
        height: 96vh;
        left: 0px;
        top: 0px;
    }
    h1{
        color: $main-color;
        font-size: 4rem;
        span{
            font-weight: 700;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: $main-color;
            font-size: 1.2em;
            color: transparent;
            line-height:60px;
        }
    }
    h6{
        color: $main-color;
        font-size: 4.5rem;
        span{
            font-weight: 700;
            -webkit-text-stroke-width: 1.2px;
            -webkit-text-stroke-color: $color-dark;
            font-size: 1.1em;
            color: transparent;
            opacity: 0.1;
            line-height: 60px;
            margin-top: -88px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    h3,h2{
        span{
            font-weight: 700;
            -webkit-text-stroke-width: 1px;
            // -webkit-text-stroke-color: $color-yellow-dark;
            font-size: 1.2em;
            color: $main-color;
            line-height:60px;
            margin: 0;
        }
    }
}

