header {
    background-color: transparent;
    z-index: 2;
    position: fixed;
    top: 0;
    transition: all .5s;
}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .navbar-nav {
        .nav-link{
            color: $color-dark;
            &:hover{
                color: $main-color;
            }
        }
        .nav-link:focus{
            color: $main-color;
        }
    }
}

nav{
    ul{
        list-style: none;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 15px;
            a{
                transition: all .5s;
                &:hover{
                    color: #555;
                }
            }
        }
    }
}

.btn-invite {
    background-color: transparent;
    border: 1px solid $main-color;
    color: $main-color;
    border-radius: 10px;
    transition: all .5s;
        &:hover{
            transform: scale(1.05);
            background-color: $main-color;

        }
    a{
        color: $main-color;
        font-weight: 500;
        &:hover{
            color: $white;
           
        }
    }

}

.hamburguer {
    margin-bottom: 5px;
    width: 30px;
    height: 2px;
    background: $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    &:before{
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background:  $main-color;
        box-shadow: 0 2px 5px (0, 0, 0, 0.2);
        transition: .5s;
        left: 0;
    }
}
.hamburguer {
    margin-bottom: 5px;
    width: 30px;
    height: 2px;
    background: $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    &:after{
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background:  $main-color;
        box-shadow: 0 2px 5px (0, 0, 0, 0.2);
        transition: .5s;
        left: 0;
        top: 8px;
    }
    &:before{
        top: -8px;
    }
}

.icon {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 47px;
    height: 34px;
    border: none;
    cursor: pointer;
}
.icon.active  {
    .hamburguer{
        background: rgba(0, 0, 0, 0);
        &:before{
            top: 0;
            transform: rotate(45deg);
        }
        &:after{
            top: 0;
            transform: rotate(135deg);
        }
    }
}

.sticky {
    background-color: hsla(0, 0%, 100%, 0.63)!important;
    backdrop-filter: blur(20px);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    // box-shadow: rgb(0 0 0 / 10%) 0px 0px 30px 0px;

    transition: all 1s;
    z-index: 50;
}
