// ********* section hero **********
.square {
    position: absolute;
    max-width: 70%;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(106.43deg, #FFDC6B -1.4%, #FFF4CB 100.87%);
    border-radius: 0 0 55px 0;
    z-index: -1;
}

.s-hero {
    padding: 100px 0px 0px 0px;
    h1 {
        width: 100%;
        max-width: 501px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 55px;
        line-height: 100%;
        margin: 0;
        span {
            font-weight: 700;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: #000;
            font-size: 1.2em;
            color: transparent;
        }
    }
    p{
        width: 100%;
        max-width: 501px;
    }
    h2 {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span{
            font-weight: 700;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000;
            font-size: 1.5em;
            color: transparent;
        }
    } 
    i{
        padding: 10px 15px;
        background-color: $color-yellow;
        border-radius: 10px;
        margin-right: 15px;
    }
   
}

.text-outline{
    position: relative;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 700;
        -webkit-text-stroke-width: 1.2px;
        -webkit-text-stroke-color: $color-dark;

        font-size: 3.5rem;;
        color: transparent;
        opacity: 0.1;
        line-height: 60px;
        margin-top: -66px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.img-chat {
    position: absolute;
    height: 200px;
    position: absolute;
    height: 200px;
    left: 37%;
    top: 10%;
}

// section about
.s-about{
    padding: 100px 0;
    h5{
        color: $main-color;
    }
    h4{
        margin-bottom: 60px;
    }
    img{
        width: 70px;
        margin-top: -50px;
    }
    a{
        text-decoration: none;
    }
}
.card{
    height: 225px;
    background: $gray-light;
    border: 1px solid #EDEEF0;
    box-sizing: border-box;
    border-radius: 25px;
    transition: all .3s;
   
    &:hover{
        background-color: $color-yellow-light-100;
        color: $white;
        transform: scale(1.08);
    }
}



// ******section i who am i *********

.s-who-am-i {
    background: linear-gradient(180deg
        , $color-yellow-light-200 -1.4%, $white 100.87%);
    border-radius: 20px;
    z-index: -1;
    padding: 100px 0;
    p{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        line-height: 32px;
    }
    a{
        text-decoration: none;
        &:hover{
            color: $color-yellow-dark;
        }
    }
}


// ******section values *********
.s-values {
    padding: 100px 0;
    i{
        color: $main-color;
        font-weight: 700;
        transition: all .5s;
        &:hover{
            background-color: $main-color;
            color: $color-yellow-light;
            transform: scale(1.5);
        }
    }
    a{
        text-decoration: none;
        color: $color-dark;
    }
    .icon-custom{
        background-color: $color-yellow-light;
    }
    
    p{
    margin-bottom: 0;
        span{
            strong{
                color: $main-color;
                font-size: 26px;
            }
        }
    }
    img{
        margin-top: 5px;
    }
}
.card-price{
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #EDEEF0;
}
// ****section FAQ *****
.s-faq{
    padding: 100px 0;
    background: linear-gradient(180deg
    , $white -1.4%,  $color-yellow-light-200 100.87%);
    background-color: $gray-light;
    background: linear-gradient(
        180deg
        ,  $white  0%, $color-yellow-light-200 36.46%, $color-yellow-light-200 62.46%, $white 100%);
}

/* news */
.s-news{
    padding: 40px 0 79px;
    button{
        height: 44px;
        border-radius: 0 25px 25px 0!important;
        background-color: #FFDC6B;
        border: none;
    }
    input{
        border-radius: 25px 0px 0px 25px;
        height: 44px;
    }
    .row{
        width: 80%;
        margin: auto;
        background-color: $gray-light;
        padding: 20px;   
        border-radius: 10px;     
    }
}
.s-news-img {
    z-index: -2;
    margin-top: -54px;
    position: absolute;
    width: 163px;
    right: 30px;
}

    

/* Footer */

footer {
    background-color: $color-dark;
    padding: 3.9rem 0 2rem 0;
    p{
        max-width: 350px;
    }
    h6{
        color: $main-color;
        font-size: 1.2rem;
    }
    ul{
        padding: 0;
       li{
        list-style-type: none;
        padding: 5px 0;
       } 
    }
    a{
        color: $gray-light;
        text-decoration: none;
        transition:all .3s;
        &:hover{
            color: $color-yellow-light-100;
        }
    }
    main{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
     padding-bottom: 2.2rem;
    }
}
