$main-color : #EF9E48;
$color-yellow: #f9c271;
$color-yellow-light-100:#FBCE82;
$color-yellow-light-200:#FFDC6B;
$color-yellow-light:#FCF2E8;
$color-yellow-dark:#a56f39;

$color-blue:#5080FB;
$color-green: #3FDBB1;
$color-dark: #151414;
$gray:#8B9DB0;
$gray-light: #f5f5f5;;
$gray-dark:#343a40;
$white: #fdfdfd;
$white-pure: #fff;  