$main-color : #EF9E48;
$color-yellow: #f9c271;
$color-yellow-light-100:#FBCE82;
$color-yellow-light:#FCF2E8;
$color-yellow-dark:#a56f39;

$color-blue:#5080FB;
$color-dark: #02073E;
$gray-light: rgba(241,240,245,0.55);;
$white: #fff;